<div id="nation_name">
  <h1> <%= @nation.titleize %> </h1>
</div>
Member count: <%= @characters.count %>
<div id="details">
  <ul><% @characters.first(25).each do |c| %>
    <li><b><%=c.name%></b></li>
    <img src="<%= c.photoUrl %>"></img><p>
      <b>Allies:</b><ol><%= c.allie_linter %></ol>
      <b>Enemies:</b><ol> <%= c.enemy_linter %></ol>
      <b>Affiliations:</b> <%= c.affiliation %><p>
      <% end %>
    </ul>
</div>
