<h1> <%= params[:nation].gsub("_"," ").upcase%></h1>
Total number of fire nation members: <%= @population %>
<ol>
  <% @nation.each do |char|%>


    <li><%= char.name %><br>
    <% if char.photoUrl %>
    <img src=<%=char.photoUrl%>width="100px" height="100px"><br>
    <% end %>
    Allies:
    <%if char.allies.count == 0%>
      <%= "none"%>
    <%else%>
      <%char.allies.each do |name|%>
      <%= name%>
      <%end%><br>

    Enemies:
    <%if char.enemies.count == 0%>
      <%= "none"%>
    <%else%>
      <%char.enemies.each do |name|%>
      <%= name%>
      <%end%>
</li><br>
    <%end%>
    <%end%>
  <%end %>

  </ol>
