<h1><%= @nation %>'s Members</h1>

<h3>Total Number of Inhabitants: <%= @members.count %> </h3>

<% @members[0..24].each do |member| %>
  <%= image_tag "#{member.photourl}" %>
  <h4>Name: <%= member.name %></h4>

  <h4>Allies:<% member.allies.each do |ally| %>
     <%= ally %>
  <% end %></h4>

  <h4>Enemies: <% member.enemies.each do |enemy| %>
    <%= enemy %>
  <% end %></h4>

  <h4>Affiliation: <%= member.affiliation %></h4>
  <br>
<% end %>